projects/pyxvcs/*.bat
projects/pyxvcs/*.lst
projects/pyxvcs/*.vars
projects/pyxvcs/*.yaml
projects/pyxvcs/.log
projects/pyxvcs/deploy/*.bat
projects/pyxvcs/deploy/*.lst
projects/pyxvcs/deploy/*.vars
projects/pyxvcs/deploy/*.yaml
projects/pyxvcs/deploy/.log
projects/pyxvcs/pyxvcs/*.bat
projects/pyxvcs/pyxvcs/*.lst
projects/pyxvcs/pyxvcs/*.vars
projects/pyxvcs/pyxvcs/*.yaml
projects/pyxvcs/pyxvcs/.log
